@media screen and (min-width: 1024px) {
	body {
		max-width: 720px;
		margin: 0 auto;
	}
}

figure
{
    border: 1px solid #888;
    border-radius: 7px;
    padding:  8px;
    overflow: hidden;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

figcaption
{
    background: #ddd;
    color: #444;
    padding: 4px 8px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    margin: -8px -8px 0px;
    box-shadow: 0px -3px 1px -2px rgba(0,0,0,0.25) inset;
}

figure.console
{
	background: black;
	color: #ccc;
}

figcaption a
{
	color: #000;
	text-decoration: none;
}

figcaption a:hover
{
	text-decoration: underline;
}

pre
{
	overflow: visible;
	overflow-x: auto;
	margin-top: 4px;
	margin-bottom: 0;
}

pre.inline
{
	display: inline;
	margin: 0;
	overflow: visible;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Helvetica Neue', 'Free Sans', sans-serif;
}

article h1
{
	font-size: 1.27em;
}

article h2
{
	font-size: 1.17em;
}

table
{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    margin: 0 auto;
}

table th, table th *
{
	background: lightsteelblue;
	vertical-align: top;
}

table td, table th
{
	padding: 4px 8px;
}

table th .sh_cpp *
{
	color: rgba(255,255,255,0.95) !important;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.memoryLayoutSet
{
	text-align: center;
}

.memoryLayout
{
	display: inline-block;
	vertical-align: top;
}

.memoryLayout td, .memoryLayout th
{
	border: 1px solid black;
}

.memoryLayout th
{
	border-bottom: 3px solid black;
}

.memoryLayout tbody.inherited td
{
	background: #eee;
}

.memoryLayout thead.inherited th
{
	background: #def;
}
